@media only screen and (max-width:800px) {
    
}

body { 
    background: rgb(245,243,202);
    background: linear-gradient(90deg, rgba(245,243,202,1) 0%, rgba(197,197,241,1) 35%, rgba(235,222,179,1) 100%); 
}

div .background {
    opacity: 0.2;
}

.address {
    text-align: left;
    color: whitesmoke;
    padding: 10px;
}

.titre, .titre1, .titre2 {
    color: whitesmoke;
}

h1 {
    text-align: center;
}

.container-flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    border: 2px solid cadetblue;
    box-sizing: border-box;
    margin: 20px 0px;
}

.element-flexbox {
    flex: 1 50px;
    width: 50%;
    height: 50%;
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
    border: 2px solid cornflowerblue;
    box-sizing: border-box;
    margin: 10px;
}

.line, .line0, .line1, .line2, .line3, .line4, .line5 {
    flex-direction: row;
}

.me, .atout, .competence, .langue, .informatique, .difor, .expro, .interet {
    text-align: justify;
}


